@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import "tailwindcss";
@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.akshar-header {
  font-family: "Akshar", sans-serif;
  font-weight: 500;
}

.font-akshar {
  font-family: "Akshar", sans-serif;
}

.font-alexandria {
  font-family: "Alexandria", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.alexandria-header {
  font-weight: 500;
  font-family: "Alexandria", sans-serif;
}

.box-primary {
  background-color: var(--color-primary);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
